*{
    border-width: 1px;
    box-sizing: border-box;
    border-color: white;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.container{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    height: 95vh;
    min-height: 500px;
    min-width: 500px;
    overflow: auto;
    gap: 25px;
}

.header{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 400px;
}

h1{
    font-size: 3rem;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input{
    color: black;
    text-align: center;
}
input:focus::placeholder {
    color: transparent;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 30%;
    background-color: transparent;
}
button{
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    width: 46%;
    height:100%;
    border-radius: 10px;
    padding: 5px 10px;
}
.play:hover{
    border-color: lightseagreen;
    color: lightseagreen;
}
.playComputer:hover{
    border-color: indianred;
    color: indianred;
}
  
.game-board{
    width: 40vw;
    height: 40vw;
    min-width: 250px;
    min-height: 250px;
    max-height: 400px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square{
    border-style: solid;
    height: 33.34%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    overflow: hidden;
}
.b1, .b7{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
}
.b3, .b9{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
}
.b2, .b8{
    border-top-style: hidden;
    border-bottom-style: hidden;
}
.b4{
    border-left-style: hidden;
}
.b6{
    border-right-style: hidden;
}

.red{
    color: indianred;
}
.blue{
    color: lightseagreen;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vh;
    width:220px;
    font-size: .85rem;
    background-color: transparent;
    color: white;
}

footer, p, a, img{
    background-color: transparent;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
}
    
.fa-github:hover {
    transform: rotate(360deg) scale(1.3);
}